/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body { background-color: rgba(215,215,215, 0.35);
}

.navbar { background-color: white ;
}

.navbar-brand {
    position: absolute;
    left:  50%;
}

.post-panel { 
    margin-top: -21px;
}
.post-title {
    text-align: left;
    margin-left: 15px;
}
.post-owner {
    color: black;
    font-weight: bold;
}

.post-creation {
    opacity:.65;
}

.post-content {
    text-align: left;
    margin-left: 15px;
    
}

.g-links {
    text-align: left;
    opacity: 0.5;
    font-size: 120%;
    margin-right: 75px;
}

.rounded-img {
    border-radius: 10%;
}

.post-form-panel {
    margin-bottom: -19px;
}

.panel-image-preview {
    height: 100px;
    width: 215px;
    
}

.profile-banner {
    width: 120%;
    height: 500px;
    margin-top: -21px;
}